.login-bg {
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card {
  background-color: #202020;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.website-logo {
  height: 50px;
  width: 130px;
  margin: 20px;
  margin-bottom: 30px;
}
.login-btn {
  background-color: #4f46e5;
  color: white;
  font-size: 20px;
  padding: 9px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  border: 0px;
}
.err-msg {
  color: red;
  font-size: 20px;
}
.label {
  color: white;
  padding-bottom: 7px;
  align-self: flex-start;
  font-size: 15px;
}
.input {
  font-size: 19px;
  color: white;
  padding: 7px;
  font-weight: 400;
  width: 300px;
  background-color: transparent;
  border: 1px solid #64748b;
  margin-bottom: 27px;
}
@media screen and (max-width:577px){
  .input{
    font-size: 10px;
    width: 200px;
    margin-bottom: 20px;
  }
  .label{
    font-size: 10px;
  }
  .err-msg{
    font-size: 10px;
  }
  
.website-logo {
  height: 40px;
  width: 100px;
  margin: 20px;
  margin-bottom: 30px;
}
.login-btn {
  
  font-size: 16px;
  width: 120px;
}
}